<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Cryptgraph</title>
</head>

<body>

    <nav>
        <h2>Cryptgraph<a class="repo" href="https://github.com/YashRaaj1503/Cryptgraph" target="_blank">Github
                Repository</a></h2>
    </nav>

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <div class="form">
        <div class="content">
            <p><strong>Cryptography is the process of converting between readable text, called plaintext, and an unreadable
                form, called ciphertext.<br><br></strong></p>
        </div>
        <div class="a">
            <input type="radio" onclick="show()" name="button" id="encrypt" checked>Encrypt&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" onclick="show()" name="button" id="decrypt">Decrypt
        </div>
        <div class="b">
            <form id="form">
                <p>
                <h5 id="text">Password</h5>
                <input class="et1" type="text" placeholder="Enter the Password" name="str" autocomplete="off">
                </p>
                <p>
                <h5>Key</h5>
                <input class="et1" type="text" placeholder="Enter the Key" name="keyword" autocomplete="off">
                </p>
            </form>
        </div>
        <div class="c">
            <div id="ebutton">
                <button onclick="encrypt()">Try it</button>
            </div>
            <div id="dbutton">
                <button onclick="decrypt()">Try it</button>
            </div>
            <input class="et1" id="demo" placeholder="Cipher Text" type="text" name="string" readonly>
        </div>
    </div>

    <footer>
        <h2>Cryptgraph - Created by <a href="https://github.com/YashRaaj1503" target="_blank">Yash Raaj</a></h2>
    </footer>


    <script src="/static/index.js"></script>
</body>

</html>